/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Syncopate Regular'), local('Syncopate-Regular'), url(https://fonts.gstatic.com/s/syncopate/v11/pe0sMIuPIYBCpEV5eFdCBfe_Kdxicw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Syncopate Bold'), local('Syncopate-Bold'), url(https://fonts.gstatic.com/s/syncopate/v11/pe0pMIuPIYBCpEV5eFdKvtKqBP5vWVYgVw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html{
}
body{
  transition: 0.3s;
  margin: 0 auto;
  padding: 0;
  width: 90%;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
:root {
  --article-color: #5D00C2;
  --formation-color: #AA40E0;
  --experience-color: #7A00FF;
  --evolution-color: #BD56CE;
  --article-light-color: #DAC7EE;
  --formation-light-color: #E9D4F4;
  --experience-light-color: #DFC7FA;
  --evolution-light-color: #F2DDF5;
  --article-ultralight-color: #EFEAF5;
  --formation-ultralight-color: #F4EEF7;
  --experience-ultralight-color: #F1EAF9;
  --evolution-ultralight-color: #F5EFF6;
}
header{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  margin: 0 auto;
  background: linear-gradient(rgba(255,255,255,1) 50%, rgba(255,255,255,0.9) 80%, rgba(255,255,255,0) 100%);
  box-shadow: 0px -40px 20px -40px rgba(0,0,0,0.1);
  z-index: 9;
  overflow-y: auto;
  width: 100%;
}
#menu{
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
#menu ul{
  display: inline-block;
  margin: auto;
}
footer{
  padding-bottom: 50vh;
}
#menu ul li{
  border-radius: 16px;
  padding: 8px;
  margin: 8px;
  display: inline-flex;
  box-shadow: none;
}
#menu ul{
  padding: 32px 0 ;
}
@supports (((-webkit-backdrop-filter:  blur(5px)) or(backdrop-filter: saturate(180%) blur(5px)))) {
        #menu ul{
            -webkit-backdrop-filter: saturate(180%) blur(48px);
            background: rgba(255,255,255,0);
        }
    }

#menu ul li.active-menu{
  opacity: 1;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);

}
#menu ul li.active-menu a{
  color: #333;
}
#menu ul li a{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
#menu ul li{
  color: #333;
}
main{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
 aside, footer{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.corps-article, #container{
  width: auto;
}
#container .corps-article{
  width: 70%;
}
.timeline{
  width: 30%;
}

#header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  padding: 40px 0;
}
#illustration{
  display: inline-flex;
  align-items: baseline;
  width: 100%;
}
#illustration img{
  height: 100%;
}
#header img{
  max-width: 200px;
}
#social{
  display: flex;
  flex-direction:row;
}
#social a{
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 1em;
}
#social a .aside_social{
  margin-left: 1em;
  font-family: 'Montserrat', sans-serif;
  transition: 0.3s;
  font-size: 0;
  color: #333;
  font-weight: 600;
  background: linear-gradient(180deg,rgba(255,255,255,0) 70%, var(--experience-ultralight-color) 70%);
}
#social a:hover .aside_social{
  font-size: 1em;
}
#social img{
  height: 24px;
}
#homepage #content{
  align-items: flex-end;
}
#homepage #content, #homepage #header{
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  margin: 0 auto;
}
#homepage #content #text{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: auto 0;
}
span#hello{
  font-family: 'Syncopate', sans-serif;
  font-size: 3em;
  font-weight: 600;
}
#homepage #content #text {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: auto 0;
  font-size: 1.2em;
}
#homepage #content #text p span{
  font-weight: 700;
}
#homepage #content #text p a{
  font-family: 'Montserrat', sans-serif;
  color: var(--article-color);
}
#homepage #content #text #button{
  font-size: 1.2em;
  color: var(--article-color);
  text-decoration: none;
  font-family: 'Syncopate',sans-serif;
  font-weight: 700;
  border-bottom: 2px solid #fff;
  transition: 0.3s;
  margin: 1.2em 0;
}
#homepage #content #text #button:hover{
  background: linear-gradient(180deg,rgba(255,255,255,0) 70%, var(--experience-ultralight-color) 70%);
}
.timeline{
  position: -webkit-sticky;
  position: sticky;
  top: 300px;
  align-self: flex-start;
  opacity: 0;
  z-index: 1;
  text-align: right;
  transform: rotate(-5deg);
}
.date{
  font-family: 'Syncopate', sans-serif;
  transition: 10s;
  font-size: 3em;
  color: #333;
  font-weight: 400;
  text-align: right;
}
.tag a{
  font-weight: 400;
  background-color: red;
  font-size: 1em;
  display: inline-flex;
  padding: 8px;
  border-radius: 24px;
  color: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  font-family: "Syncopate";
  text-decoration: none;
  text-align: right;
}
.content-article{
  display: flex;
  flex-direction: row;
}
.corps-article{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 60px;
  padding: 60px;
  z-index: 0;
  box-shadow: 0 32px 128px rgba(0,0,0,0);
  transform: scale(0.95);
  opacity: 0.8;
}
.corps-article img{
  margin: 0;
  padding: 0;
}
article img{
  width: 100%;
}
article h1,h2{
  font-family: 'Montserrat';
  margin: 0;
}
article h1{
  font-weight: 800;
  font-size: 2em;
}
article h2{
  font-weight: 400;
  font-size: 1.2em;
}
article h1 a{
  text-decoration: none;
}
.article h1 a{
  color: var(--article-color);
}
.formation h1 a{
  color: var(--formation-color);
}
.experience h1 a{
  color: var(--experience-color);
}
.evolution h1 a{
  color: var(--evolution-color);
}
.evolution .container{
  max-width: 720px;
  padding: 0 ;
  margin: 0 60px;
}
.evolution .container img{
  z-index: 2;
}
.evolution .container .corps-article{
  background-color: #EDD7EF;
  margin: 0;
  transform: scale(1);
}
.evolution_top{
  position: relative;
  top: 5px;
}
.article .tag a{
  background-color: #fff;
  color: var(--article-color);
}
.formation .tag a{
  background-color: #fff;
  color: var(--formation-color);
}
.experience .tag a{
  background-color: #fff;
  color: var(--experience-color);
}
.evolution .tag a{
  background-color: #fff;
  color: var(--evolution-color);
}
.content_summury_article{
  font-family: 'Montserrat';
  padding: 1em 0;
  font-size: 1em;
  text-align: justify;
}
.content_summury_article a{
  display: inline-block;
  padding: 8px 0;
  margin: 16px 0;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 1.5em;
}
.content_summury_article a:hover{
  display: inline-block;
  padding: 8px;
  margin: 16px 0;
  background-color: var(--article-ultralight-color);
  font-weight: 400;
}
.progress-container{
  z-index: 10;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fafafa;
}
.progress-bar{
  width: 8px;
  border-radius: 0 0px 4px 4px ;
  box-shadow: 0px 16px 16px rgba(0,0,0,0.1);
  display: block;
  background-color: var(--article-light-color);
}
@media (max-width: 1440px) {
  body{
    width: 90%;
  }
}
@media (max-width: 1024px) {
  #homepage #content{
    flex-direction: column;
  }
  #content img{
    display: inline-block;
  }
  main{
    width: 100%;
  }
  #homepage #content #text {
    padding: 0px;
  }
  .timeline{
    width: 30%;
  }
  .corps-article{
    margin: 48px;
    padding: 48px;
  }
}
@media (max-width: 768px) {
  #illustration img{
    width: 100%;
  }
  #container .corps-article{
    width: 100%;
  }
  .timeline{
    display: none;
  }
  #social{
    display: none;
  }
}
@media (max-width: 512px) {
  .timeline{
    display: none;
  }
  #menu ul{
    margin: 0;
  }
  body{
    width: 100%;
  }
  .corps-article{
    margin: 40px auto;
    padding: 40px auto;
    min-width: none;
  }
}