<div id="homepage">
	<div id="header">
		<img src="/images/logo.svg" alt="logo">
		<div id="social">
			<a href="#">
				<img src="/images/social/instagram.svg" alt="Lien social instagram">
				<div class="aside_social">Pour les curieux</div>
			</a>
			<a href="#">
				<img src="/images/social/whatsapp.svg" alt="Lien social whatsapp">
				<div class="aside_social">Pour les connaissances</div>
			</a>
			<a href="#">
				<img src="/images/social/linkedin.svg" alt="Lien social linkedin">
				<div class="aside_social">Pour les contacts pros</div>
			</a>
			<a href="#">
				<img src="/images/social/messenger.svg" alt="Lien social messenger">
				<div class="aside_social">Pour les amis</div>
			</a>
			<a href="#">
				<img src="/images/social/twitter.svg" alt="Lien social twitter">
				<div class="aside_social">Pour les passionés</div>
			</a>
		</div>
	</div>
	<div id="content">
		<img src="/images/illustration-min.png" alt="Photo en noir et blanc de Solal Gendrin">
		<div id="text">
			<span>Hello,</span>
			<p>
				Je suis Product Owner à Hiveo, Start-up lyonnaise prométeuse. Lors de ma scolarité, j’ai souhaité étudier l’UX, le Marketing et l’Informatique, dans le but d’avoir une vision globale en entreprise.
				<br><br>
				Je suis passionné de design, minimalisme, d’architecture, d’urbanisme, je partage nottament cete passion sur Instagram.
				<br><br>
				On se croisera certainement à un Meetup, mais si tu souhaites provoquer la rencontre, <a href="mailto:solal@gendr.in">contacte-moi</a> !
			</p>
			<a href="#menu" id="button">
				Mon parcours ↓
			</a>
		</div>
	</div>
</div>