<div id="homepage">
	<div id="header">
		<img src="/images/logo.svg" alt="logo">
		<div id="social-maxres" class="social">
			<a href="#">
				<img src="/images/social/instagram.svg" alt="Lien social instagram">
				<div class="aside_social"><a href="https://www.instagram.com/solalgen/">Pour les curieux</div>
			</a>
			<a href="#">
				<img src="/images/social/whatsapp.svg" alt="Lien social whatsapp">
				<div class="aside_social"><a href="https://api.whatsapp.com/send?phone=33677899304&text=&source=&data=&app_absent=">Pour les connaissances</div>
			</a>
			<a href="#">
				<img src="/images/social/linkedin.svg" alt="Lien social linkedin">
				<div class="aside_social"><a href="https://www.linkedin.com/in/solal-gendrin/">Pour les contacts pros</div>
			</a>
			<a href="#">
				<img src="/images/social/messenger.svg" alt="Lien social messenger">
				<div class="aside_social"><a href="https://www.m.me/solalgendrin/">Pour les amis</div>
			</a>
			<a href="#">
				<img src="/images/social/twitter.svg" alt="Lien social twitter">
				<div class="aside_social"><a href="https://twitter.com/_solal_">Pour les passionés</div>
			</a>
		</div>
	</div>
	<div id="content">
		<div id="illustration"></div>
		<div id="social-minres" class="social">
			<a href="#">
				<img src="/images/social/instagram.svg" alt="Lien social instagram">
				<div class="aside_social">Pour les curieux</div>
			</a>
			<a href="#">
				<img src="/images/social/whatsapp.svg" alt="Lien social whatsapp">
				<div class="aside_social">Pour les connaissances</div>
			</a>
			<a href="#">
				<img src="/images/social/linkedin.svg" alt="Lien social linkedin">
				<div class="aside_social">Pour les contacts pros</div>
			</a>
			<a href="#">
				<img src="/images/social/messenger.svg" alt="Lien social messenger">
				<div class="aside_social">Pour les amis</div>
			</a>
			<a href="#">
				<img src="/images/social/twitter.svg" alt="Lien social twitter">
				<div class="aside_social">Pour les passionés</div>
			</a>
		</div>
		<div id="text">
			<span id="hello">hello,</span>
			<p>
				Je m'appelle Solal Gendrin, et je suis <span>Product Owner</span> à Hiveo; une start-up lyonnaise, spécialisée dans la conformité légale.
				<br><br>
				Le produit, c’est un domaine dans lequel je m'accomplis et dans lequel j'ai envie de poursuivre. Sur un plan plus personnel, je suis passionné de design, d’architecture, et d’urbanisme. Je partage cette passion sur Instagram.


On se croisera certainement à un Meetup, mais si tu souhaites provoquer la rencontre, <a href="mailto:solal@gendr.in">contacte-moi</a> !
			</p>
			<a href="#menu" id="button">
				Mon parcours ↓
			</a>
		</div>
	</div>
</div>

<div class="progress-container">
	<div class="progress-bar" id="myBar"></div>
</div>  