<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "fr-fr" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.99">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="Description" content="Solal Gendrin - Product Owner sur Lyon. Découvrez mon portfolio ! ">	
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href='{{ .Site.BaseURL }}css/style.css'>
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
	{{ if eq .Params.label "article" }}
	<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/{{.Params.label}}.css" />
	{{ end }}
</head>
<body>
	{{ if ne .Params.label "article" }}
		{{ partialCached "homepage" . }}
		{{ partial "header" . }}
	{{ end }}

	
	{{ block "main" . }}{{ end }}

	{{ partialCached "footer" . }}
	<script src="/js/inview.js"></script>
	<script src="/js/modernizr-webp.js"></script>
	<!-- <script  src="/js/rellax.min.js"></script> -->

	<script>
	/* RELLAX */
	
	/* var rellax = new Rellax('#homepage', {
	    speed: -1,
	  }); */
	
	/* INVIEW */

	// Pour capter un changement du viewheight
	window.onload = function() {inViewRes()};
	window.onresize = function() {inViewRes()};

	function inViewRes(){
		/* if (window.innerWidth > 768){ */
			x = window.innerHeight;
			x = x - 350;
			inView.offset({
				bottom: x,
				top: 299
			});
		/* }
		else{ 
			x = window.innerHeight;
			x = x - 24;
			inView.offset({
				bottom: x,
				top: 24
			});
		} */
	}

	inView('.timeline')
	    .on('exit', el => {
	        el.style.opacity = 0;
	        el.style.transition = "all 0.3s";
	         
	    })
	    .on('enter', el => {
	        el.style.opacity = 1;
	        el.style.transition = "all 0.3s";
	    });

	    inView('.experience .corps-article,.formation .corps-article,.article .corps-article')
	    .on('exit', el => {
	    	el.style = "transform: scale(0.98)";
	        el.style.opacity = 0.8;
	        el.style.transition = "all 0.3s";
	        el.style.boxShadow = "0px 32px 128px rgba(0,0,0,0)";
	         
	    })
	    .on('enter', el => {
	    	el.style = "transform: scale(1)";
	        el.style.opacity = 1;
	        el.style.transition = "all 0.3s";
	        el.style.boxShadow = "0px 32px 128px rgba(0,0,0,0.1)";
	    });
	    inView('.container')
	    .on('exit', el => {
	    	el.style = "transform: scale(0.98)";
	        el.style.opacity = 0.8;
	        el.style.transition = "all 0.3s";
	         
	    })
	    .on('enter', el => {
	    	el.style = "transform: scale(1)";
	        el.style.opacity = 1;
	        el.style.transition = "all 0.3s";
	    });



	/* SCROLL INDICATOR */

	window.onscroll = function() {scroll()};

	function scroll() {
		var winScroll = document.documentElement.scrollTop;
		var height = document.documentElement.scrollHeight - document.documentElement.clientHeight
		var scrolled = (winScroll / height) * 100;
		document.getElementById("myBar").style.height = scrolled + "%";
	}


	/* MODERNIZR WEBP */



	window.onload = webp;

	function webp()
	{
		Modernizr.on('webp', function(result) {
			var content = document.getElementById("illustration");
			var img = document.createElement("img");
			img.alt = "Photo en noir et blanc de Solal Gendrin";
			content.appendChild(img);
			if (window.innerWidth > 768){
				if (result) {
					img.src = "/images/illustration-min.webp";
				} else {
					img.src = "/images/illustration-min.png";
				}
			}
			else{
				if (result) {
					img.src = "/images/illustration-min-lowres.webp";
				} else {
					img.src = "/images/illustration-min-lowres.png";
				}
			}

		});
	}
    </script>
</body>
</html>
