{{ define "main" }}
	<div id="article-banner"></div>
	<main>
		{{ if (isset .Params "label") }}
			{{ if eq .Params.label "article" }}
				<div id="tableofcontent"><div id="retour"><a href="../" >< Retour</a></div>{{ .TableOfContents }}</div>
			{{ end }}
		{{ end }}
		<article>
			<div id="retour_top"><a href="../" >< Retour</a></div>
			<h1>{{ .Title }}</h1>
			
			{{ with .Params.tags }}
			<div>
				<ul id="tags">
					{{ range . }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
			{{ end }}
			
			<div>
				{{ .Content }}
			</div>
		</article>
	</main>
{{ end }}
